.article {
  color: #ffffff;
  margin: $size-m;
  width: 50%;
}

.article-heading {
  font-size: $font-size-l;
  font-weight: bold;
  font-style: italic;
  font-weight: 300;
  margin-left: $size-m;
  text-decoration: underline #0099ff;
  word-spacing: 0.2rem;
}

.article-list {
  margin: $size-s auto;
  font-size: $font-size-l;
  line-height: 3.5rem;
  word-spacing: 0.2rem;
}

@media screen and (max-width: $screen-size) {
  .article {
    margin: $size-m;
    order: 2;
    width: auto;
  }
  .article-heading {
    margin: auto;
  }
  .article-list {
    margin: $size-s 0;
    line-height: 3rem;
  }
}
