.page-para {
  background-color: rgba($color: #000000, $alpha: 0.7);
  padding: $size-m;
  width: 80%;
  margin: 5rem auto;
  text-align: center;
  font-size: $font-size-l;
  color: #ff0000;
  font-weight: 300;
}
